@charset "UTF-8";

body{
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo',sans-serif;
    font-size: 15px;
    border-top: 10px solid #79a1b1;
}

a {
    text-decoration: none;
    color: #333; 
}

.logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.logo h1 {
    font-size: smaller;
}

.logo img {
    display: inline-block;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

.w_inner {
    width: 1200px;
    margin: 0 auto;
}

.header ul {
    display: flex;
    margin-bottom: 30px;
}

.header ul li {
    list-style: none;
    width: 200px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.header ul li:first-child {
    border-left: 1px solid #ddd;
}


.header ul li a {
    display: block;
}

.header_img {
    text-align: center;
    width: 1200px;
    margin-bottom: 50px;
}

.header_img img {
    display: inline-block;
    width: 1200px;
    height: 400px;
}

.container_service .service {
    width: 380px;
    text-align: center;
}

.container_service .service_block {
    display: flex;
    justify-content: space-between;
}

.container_service h2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;

}

.service img {
    width: 380px;
}

.container_service .service img {
    margin-bottom: 20px;
}

.container_service .service .ttl {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.container_service .service .explain {
    margin-bottom: 25px;
}

.container_service .service a {
    background: #79a1b1;
    color: #fff;
    padding: 15px 20px 12px;
}

.footer {
    margin-top: 40px;
}

.pp_link {
    text-align: right;
    margin-bottom: 10px;
}

.copy {
    text-align: center;
    background: #79a1b1;
    color: #fff;
    font-size: 12px;
    padding: 7px 0 3;
}